# Node Environment
NODE_ENV=development

# Server Configuration
PORT=3333

# Database Configuration (for production with PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sqlnode
DB_USER=docker
DB_PASS=docker
